fastapi[standard]
python-dotenv
SQLAlchemy  
psycopg[binary]
markitdown[all]
pwdlib[argon2]
pyjwt
langchain-google-genai
langchain_text_splitters
chromadb
langchain_chroma    
redis[hiredis]                      
langchain-community
asyncpg 
langchain-experimental
alembic 
bcrypt==4.0.1
pypdf 
easyocr   